@font-face {
    font-family: "AmazonEmberBold";
    src: local("AmazonEmberBold"),
        url("./font/Ember/AmazonEmber_Bd.ttf") format("truetype");

}

header {
    background: #131921;
    color: white;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    font: 14px "AmazonEmberBold", Aria, sans-serif;
    position: static;
    float: none;
}


.amazonLogo {
    width: auto;
    height: 30px;
    margin-left: 1px;
    padding: 1px 8px 0px 6px;
}

#departments {
    color: #131921;
    background: #f3f3f3;    
}

.shoppingCart {
    height: 40px;
}

.searchIcon {
    background: #febd69;
}